body {
  margin: 30px;
  background-color: #f7f6f0;
  font-family: sans-serif;
  font-size: 1.5em;
}
ul {
  list-style-type: none;
}
ul li {
  padding: 10px;
  margin: 35px;
}
ul li a{
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 25px;
}